<h2>Menu</h2>

<hr>
<ul class="list-group">
    <li routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="list-group-item">
        Home Page
    </li>

    <li routerLink="about" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="list-group-item">
        About
    </li>
    <li routerLink="counter" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="list-group-item">
        Counter
    </li>
    <li routerLink="dbz" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="list-group-item">
        Dragon Ball z
    </li>
</ul>