<h2 class="d-flex justify-content-center  ">DBZ Personajes</h2>
<hr>
 
    <div class="row">
        <div class="col">
             <app-personajes ></app-personajes>
        </div>
        <div class="col">
            <app-agregar 
            [nuevoPersonaje]="nuevo"
            ></app-agregar>
        </div>
    </div>
    
    
 



<!-- 
[ATRIBUTO] && (EVENTO)
<div .... = "algo del componente"></div>
<div class="row">
    <div class="col">
        <app-personajes [dataServicio]="personajes"></app-personajes>
    </div>
    <div class="col">
        <app-agregar 
        [nuevo]="nuevo"
        (onNuevoPersonaje)="agregarPersonaje( $event )"//LO EMITIDO DEL COMPONENTE LO RECIBIMOS CON $EVENT
        ></app-agregar>
    </div>
</div>
-->