<div class="row">
    <div class="col">
        <app-personajes ></app-personajes>
    </div>
    <div class="col">
        <app-agregar 
        [nuevo]="nuevo"
        ></app-agregar>
    </div>
</div>




<!-- 
    <div class="row">
        <div class="col">
            <app-personajes [data]="personajes"></app-personajes>
        </div>
        <div class="col">
            <app-agregar 
            [nuevo]="nuevo"
            (onNuevoPersonaje)="agregarPersonaje( $event )"
            ></app-agregar>
        </div>
    </div>
-->